﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="TMDT_Lab01_1212059.Default" %>
<! Trang page chứa thông tin cá nhân - phục vụ lab 1
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>ThongTinCaNhan</title>
</head>
<body>
   <div>
             <h2>MSSV: 1212059</h2>
             <h2>Họ tên: Nguyễn Phương Hoàng Dũng</h2>
             <h2>Email: 1212059@student.hcmus.edu.vn</h2>
                bgcolor="#ffffff">

                   <img src="images/avatar.jpg" alt="anh dai dien" height="611" width="611"> 
    </div>
</body>
</html>
